body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    background-repeat: no-repeat;
    background-size:cover; 
    background-attachment: fixed;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

section {
    position: fixed;
    width: 510px;
    height:100%;
    right:0;
    top:0;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
    padding:50px;
    display:flex;
    flex-direction: column;
    user-select: none;
    overflow-y:scroll;
}

.b_title {
    color:white;
    padding: 0;
    margin:0;
    margin-bottom:20px;
    text-align: center;
    background-color: #0067B8;
}

.picture {
    width:100%;
    border-radius: 10px;
    margin-bottom:20px;
    pointer-events: none;
}

.c_title {
    color:#0067B8;
    padding: 0;
    margin:0;
}


.member {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    overflow-x:scroll;
    flex-direction: row;
    justify-content: flex-start;
    min-height:310px;
    margin-bottom: 20px;
}

.member_block {
    box-shadow: 0px 0px 2px #888888;
    background-color: #fff;
    height:270px;
    width:170px;
    flex-grow: 0;
    margin-left:15px;
    margin-right:15px;
    margin-top:20px;
    margin-bottom:10px;
    border-radius: 10px;
    transition: all 0.2s;
    overflow: hidden;
    text-decoration:none;
}

.member_block h3,p {
    margin-top:10px;
    text-decoration: none;
}

.member_block h3 {
    font-size:20px;
    color:#0067B8;
    width: 100%;
    text-align: center;
}

.member_block p {
    font-size:15px;
    margin-left:0;
    color:#888888;
    text-align:center;
}

.member_block:hover {
    box-shadow: 1px 1px 10px #888888;
}

.text {
    padding: 0;
    margin-top:20px;
    color:#0067B8;
    padding-left:10px;
    margin-bottom: 20px;
}

.contents {
    display: flex;
    box-sizing: border-box;
    margin-top: 10px;
    color:#0067B8;
    flex-wrap: wrap;
    margin-bottom:20px;
}

.contents_bar {
    background-color: white;
    width: 100%;
    height:50px;
    box-sizing: border-box;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px #AAAAAA;
    padding-left:30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    transition: all 0.3s;
    border:2px solid white;
}

.contents_bar:hover {
    border-color:#0067B8;
}


.download_button {
    background-color: white;
    width: 100%;
    min-height:50px;
    box-sizing: border-box;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px #AAAAAA;
    display: flex;
    align-items: center;
    margin-top: 20px;
    transition: all 0.3s;
    border:2px solid white;
    color:#0067B8;
    justify-content: center;
}

.download_button:hover {
    border-color:#0067B8;
}



.back_button {
    position: fixed;
    left:30px;
    top:30px;
    width:100px;
    height:40px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0067B8;
    transition: all 0.3s;
}

.yj_block {
    position:fixed;
    left:30px;
    bottom:30px;
    width:420px;
    height:120px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    padding: 10px;
    pointer-events: none;
}

.yj_block img{
    height: 100%;
}

.back_button a {
    font-size:20px;
    user-select: none;
}

.back_button:hover {
    background-color:#0067B8;
    color:white;
}


::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background-color:rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb{
    width: 10px;
    height: 10px;
    background-color:rgba(0,103,184,0.7);
    border-radius: 3px;
}

@media screen and (max-width: 700px) {
    section {
        width: 100%;
    }
}